body {
  background: rgb(97, 12, 29);
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  margin: 2.5% 7.5%;
  padding: 0.3125em;
}

main p{
  font-size: 1.3em;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 2.5%;
  margin-bottom: .5%;
  background-color: rgb(199, 122, 122);
  padding: 2em;
  padding-bottom: 5%;
  border-radius: 0.8em;
}

.heden p {
  margin-right: 7.5%;
  margin-left: 7.5%;
}


nav {
  display: flex;
  justify-content: space-around;
  font-size: large;
}

header {
  background-color: rgb(192, 142, 43);
  padding: 1.5em 0;
}

img {
  margin: auto;
  width: 20%;
  height: 20%;
  float: left
}

/*/ bronnen voor transitie: https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition2/*/
/*/tweede: https://www.w3schools.com/css/css_link.asp/*/
a {
  transition-duration: 0.5s;
  font-family: fantasy;
}

a:visited {
  text-decoration: wavy;
  color: rgb(54, 34, 10);
}

a:hover {
  text-decoration: none;
  color: rgb(193, 11, 11);
}

a:link {
  text-decoration: wavy;
  color: rgb(54, 34, 10);
}

h1 {
  text-align: center;
  font-family: inherit;
  color: bisque;
}

h2 {
  text-align: center;
  font-family: inherit;
}

h3 {
  text-align: center;
  display: block;
}

h4 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

h5 {
  padding-left: 5%;
  padding-right: 10%;
}

h6 {
  padding-left: 7%;
  text-align: center;
}

.jannes {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}

#gif>img {
  transition-duration: 0.5s;
  position: fixed;
  right: -7.5%;
  top: 90%;
  display: block;
  transform: translate(-50%, -50%);
}

#gif>img:hover {
  width: 50%;
  height: 50%;
  top: 75%;
}

audio {
  width: 10em;
  height: 1.5em;
}

hr {
  border: solid;
}

ul {
  padding-left: 10%;
  padding-right: 10%;
}

header p {
  text-align: center;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: bisque;
}


.heden {
  text-align: left;
  padding: 2%;
  color: black;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(239, 134, 151);
  margin: 2.5% 7.5%;

}


article {
  text-align: left;
  padding: 2%;
  color: black;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 2.5%;
  margin-bottom: .5%;
}

.jpeg {
  display: flex;
  justify-content: left;
}

.achtergrond-danny {
  background-image: url('/images/danny-achtergrond.jpg');
}

body.achtergrond-danny section {
  color: black;
  text-align: center;
  font-size: x-large;
}

.achtergrond-danny section h2 {
  font-size: medium;
  margin-bottom: -1%;
}

.achtergrond-danny section h3 {
  text-align: left;
  margin-left: 9.2em;
}

.achtergrond-danny article {
  background-color: rgb(215, 81, 119);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*/bron schaduw: https://www.w3schools.com/css/css3_shadows.asp/*/
.achtergrond-danny section p {
  text-shadow: 0 0 10px rgba(234, 116, 171, 0.831);
}

.achtergrond-danny article img {
  margin-right: 5%;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.achtergrond-danny article p {
  color: rgb(120, 184, 172);
  font-size: 1.3em;
  margin-left: 28%;
}

.achtergrond-jpegmafia {
  background-image: url('/images/jpegmafia-achtergrond.jpg');
}

body.achtergrond-jpegmafia main {
  color: #ffd699;
  font-size: 1.3em;
}

.achtergrond-jpegmafia article{
  font-size: 1.3em;
}

.achtergrond-denzel {
  background-image: url('/images/denzel-curry-achtergrond.jpg');
  color: white;
}

.achtergrond-denzel section ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 2em;
  max-width: 40%;
}

.achtergrond-denzel article{
  font-size: 1.3em;
}


.achtergrond-muziek {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 2.5%;
  margin-bottom: .5%;
  background-color: rgb(199, 122, 122);
  padding: 2em;
  padding-bottom: 5%;
  border-radius: 0.8em;
}

.achtergrond-muziek p{
  font-size: 1.3em;
}

.achtergrond-muziek li{
  font-size: 1.3em;
}

.achtergrond-muziek p {
  margin-right: 2.5%;
  margin-left: 2.5%;
}

.bio {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em;
}

.bio img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8em;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.bio article {
  max-width: 60%;
  padding: 1em;
}

.album {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2em;
}

.album img {
  max-width: 100%;
  height: auto;
  border-radius: 0.8em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}