body {
  background: brown;
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

main {
  margin-right: 7.5%;
  margin-left: 7.5%;
  margin-top: 2.5%;
  margin-bottom: .5%;
  color: rgb(212, 26, 26);
  background-color: rgb(250, 187, 187);
  padding: 0.3125em;
  padding-bottom: 5%;

}

nav {
  display: flex;
  justify-content: space-around;
  font-size: large;
}

header {
  background-color: rgb(192, 142, 43);
  padding-top: 1.5em;
  padding-bottom: 1em;
}

img {
  margin: auto;
  width: 20%;
  height: 20%;
  float: left
}

/*/ bron voor transitie: https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition2/*/
a {
  transition-duration: 0.5s;
  font-family: fantasy;
}

a:visited {
  text-decoration: wavy;
  color: rgb(54, 34, 10);
}

a:hover {
  text-decoration: none;
  color: rgb(193, 11, 11);
}

a:link {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: inherit;
  color: bisque;

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: unset;
  font-size: xx-large;
  color: rgb(240, 59, 59);
  margin-top: 4%;
}

.jannes {
  display: flex;
  justify-content: center;
  margin-top: 2.5em;
}

.joop {
  display: flex;
  justify-content: right;
  align-items: baseline;
  margin-top: 2.5%;
}

#gif>img {
  transition-duration: 0.5s;
  position: fixed;
  right: -7.5%;
  top: 90%;
  display: block;
  transform: translate(-50%, -50%);

}

#gif>img:hover {
  width: 50%;
  height: 50%;
  top: 75%;
}

h4 {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
h5{
  padding-left: 5%;
  padding-right: 10%;
}
h6 {
  padding-left: 7%;
  text-align: center;
}

audio {
  width: 10em;
  height: 1.5em;
}

hr{
  border: solid;
}

h2{
  margin-top: 5%;
}
